*{
    background-color: black;
    color: azure;
}
h1{
    text-align: center;
}
form{
    width: 275px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background-color: ghostwhite;
    border-radius: 15px;
}
input{
    margin-top: 20px;
    height: 25px;
    width: 250px;
    color: bisque;
    background-color: grey;
}
input::placeholder{
    color: bisque;
}
button{
    height: 25px;
    width: 250px;
    margin-top: 30px;
    border: 3;
    border-radius: 15px;
    background-color: burlywood;
    border-color: white;
}
button:hover{
    background-color: beige;
    color: burlywood;
}
table {
  width: 100%;
  max-width: 800px;
  border-collapse: collapse;
  margin: 0 auto;
  table-layout: fixed; 
}

th:nth-child(1), td:nth-child(1) { width: 30%; }
th:nth-child(2), td:nth-child(2) { width: 25%; } 
th:nth-child(3), td:nth-child(3) { width: 20%; } 
th:nth-child(4), td:nth-child(4) { width: 25%; } 

th, td {
  padding: 15px;
  border: 1px solid #f5f5f5;  
  text-align: center;
  word-wrap: break-word; 
}

.hidden {
display: none;
}